*{
    padding: 10px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.box{
    max-width: 600px;
    border: 2px solid darkgreen;
    background-color: black;
    color: wheat;
}

.greet{
    color: rebeccapurple;
}