*{
    padding: 20px;
    margin: 5px;
    max-width: 500px;
}

h4{
    background-color: red;
}

.green{
    background-color: green;
}

#blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

#yellow{
    background-color: yellow;
}

.container{
    display: flex;
}

.teal{
    background-color: teal;
    text-align: center;
    width: 200px;
}